* {
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Snippet', sans-serif;
}

header{
    background-color: #559576;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#pelipedia {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

#titulo {
    font-size: 40px;
}

#logo {
    padding-left: 30px;
    padding-right: 15px;
    max-width: 100%;
    max-height: 70%;
}

#pedia {
    color: #93B1A6;
}

#buscador {
    width: 550px;
    height: 30px;
    background-color: #93B1A6;
    border: solid 1px black;
    border-radius: 25px;
    background-image: url('img/lupa.png');
    background-repeat: no-repeat;
    background-position: right center; 
    background-size: 24px;
    margin: 10px;
}

#buscador::placeholder {
    color: white;
    font-size: 20px;
    padding-left: 8px;
    padding: 10px;
}

.boton {
    width: 50px;
    cursor: pointer;
    padding: 0 80px;
}

.icono {
    width: 50px;
    cursor: pointer;
    padding: 12px;
}

#iconos {
    padding-right: 85px;
}

main {
    height: 80%;
    background-color: black;
    text-align: center;
}

.verde {
    color: #5C8374;
    padding: 0;
    margin: 0;
}

#elegimos {
    margin-bottom: 45px;
}

h3 {
    padding: 60px 0 0 0;
    font-size: 32px;
}

h4 {
    font-size: 25px;
    padding-bottom: 20px;
}

.columna {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    padding-top: 15px;
}

.titulos {
    display: grid;
    grid-template-columns: repeat(5, 11%);
    grid-gap: 8px; 
    justify-content: center;
}

.portada {
    width: 180px;
    height: 100%;
    padding: 18px;
}

.verdeC {
    color: #93B1A6;
    font-size: 20px;
}

#parentesis {
    color: #93B1A6;
}

#napoleon {
    width: 220px;
    height: auto;
}

#texto {
    width: 190px;
    height: auto;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

#texto p {
    text-align: left;
}

#azar {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: center;
    align-items: center;
    column-gap: 45px;
}

#random {
    padding: 75px 0px;
}

footer {
    background-color: #559576;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    letter-spacing: 0.7px;
    word-spacing: 1px;
}

#copy {
    font-family: 'Exo 2', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Tajawal', sans-serif;
}

/* Página película*/

#ficha {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: center;
    column-gap: 95px;
    padding-top: 70px;
}

h4 > img {
    width: 25px;
}

#parentesis2 {
    color: #5C8374;
    font-family: 'Snippet', sans-serif;
    font-size: 22px;
}

.estrellaP {
    width: 20px;
}

#textoF {
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    text-align: start;
}

#piePelicula {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}

#piePelicula > p {
    font-family: 'Tajawal', sans-serif;
    padding-right: 20px;
    padding-top: 15px;
}

.textoP {
    color: #93B1A6;
    margin: 0;
    font-family: 'Tajawal', sans-serif;
}

#genero, #duracion {
    font-family: 'Tajawal', sans-serif;
    text-align: start;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
}

#textoF > p {
    font-family: 'Tajawal', sans-serif;
}

#textoF > h4 {
    font-weight: lighter;
    padding-bottom: 7px;
    font-family: 'Snippet', sans-serif;
}

.notaP {
    color: #93B1A6;
}

#trailer {
    font-size: 40px;
    font-family: 'Snippet', sans-serif;
    font-weight: lighter;
    padding-bottom: 30px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#usuario {
    font-family: 'Snippet', sans-serif;
    margin-bottom: 36px;
    font-weight: lighter;
}

  #escribir {
    font-family: 'Snippet', sans-serif;
    margin-right: 465px;
    margin-bottom: 36px;
}

#escribir > h3 {
  font-weight: lighter;
}

#palomitas {
    width: 50px;
    padding-left: 10px;
}
/* Página sesión */

#mainSes {
    padding-bottom: 75px;
}

#usuarioG {
    width: 60px;
    padding-top: 80px;
    padding-bottom: 30px;
}

#sesion {
    width: 40%;
    background-color: #D9D9D9;
    height: 380px;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 38px;
    justify-content: flex-start;
}

.iniSes {
    background-color: white;
    border: none;
    width: 50%;
    height: 50px;
    margin: 0 auto;
}

#userText {
    font-size: 30px;
    font-family: 'Tajawal', sans-serif;
    color: #5C8374;
    padding-bottom: 10px;
}   

#passText {
    font-size: 30px;
    font-family: 'Tajawal', sans-serif;
    color: #93B1A6;
    padding-bottom: 10px;
    padding-top: 30px;
}

.preguntas {
    padding-top: 45px;
}

.olvidaste {
    color: #5C8374;
    font-size: 30px;
    font-family: 'Tajawal', sans-serif;
}

.enlace {
    cursor: pointer;
    color: #93B1A6;
    font-size: 30px;
    font-family: 'Tajawal', sans-serif;
}

#enviar {
    background-color: #93B1A6;
    color: black;
    font-size: 25px;
    font-family: 'Tajawal', sans-serif;
    width: 120px;
    height: 40px;
    margin: auto;
    border: 0.2px solid black;
    border-radius: 25px;
    cursor: pointer;
    line-height: 50px;
}

/* Página reseña */

#escribir {
    font-size: 30px;
    padding-top: 60px;
    padding-bottom: 35px;
    font-weight: lighter;
}

#reseña {
    background-color: #93B1A6;
    width: 40%;
    margin: auto;
    height: 300px;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

#textoRes {
    font-size: 32px;
    color: white;
    font-family: 'Tajawal', sans-serif;
    text-align: center;
    margin: 20px 50px;
}

#tituloR {
    display: flex;
    font-size: 28px;
    color: #93B1A6;
    padding-bottom: 70px;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
}

#fondoV {
    background-color: #93B1A6;
    border: none;
    width: 35%;
    height: 30px;
    margin-left: 12px;
    font-size: 23px;
    padding-left: 8px;
}

#puntuacion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 75px;
    align-items: center;
}

#nota {
    font-size: 35px;
    padding-right: 15px;
}

.estrella {
    width: 55px;
}

#enviar2 {
    background-color: #93B1A6;
    color: black;
    font-size: 25px;
    font-family: 'Tajawal', sans-serif;
    width: 120px;
    height: 40px;
    margin: auto;
    border: 0.2px solid black;
    border-radius: 25px;
    cursor: pointer;
    line-height: 50px;
    margin-bottom: 135px;
}